hostname = testflight.apple.com

^https:\/\/testflight\.apple\.com\/v3\/accounts/.*\/apps$ url script-request-header https://raw.githubusercontent.com/zozocao/SurgeLK/main/Quanx/TF_key.js
^https://testflight.apple.com/join/(.*) url script-request-header https://raw.githubusercontent.com/zozocao/SurgeLK/main/Quanx/TF_key.js
^https:\/\/testflight\.apple\.com\/(v3\/accounts\/.*[^\/accept]|join\/[A-Za-z0-9]+)$ url script-request-header https://raw.githubusercontent.com/zozocao/SurgeLK/main/Quanx/AutoJoinTF.js
